name: Build
on: [push]
jobs:
  android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ArtemSerebriennikov/buildozer-action@v1
        with:
          buildozer_version: master
          python_version: 3.11
      - uses: actions/upload-artifact@v4
        with:
          name: my-apk
          path: bin/*.apk
